@model AfterSchool.Models.DataAccess.CourseOffer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CourseOffer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.Id) - @Html.DisplayFor(model => model.Course.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.Id) - @Html.DisplayFor(model => model.Location.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
        </dd>
        <dt class = "col-sm-2">
            Uploaded Image
        </dt>
        <dd class = "col-sm-10">
            <img src="@("~/Images/CourseOffers/" + Model.ImageName)" asp-append-version="true" width="400px"/>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-cid="@Model.Course.Id" asp-route-lid="@Model.Location.Id" asp-route-sid="@Model.StartDate.ToString("yyyy-MM-dd")" class="btn btn-outline-primary">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
